@import "tailwindcss";

@font-face {
    font-family: Afacad;
    src: url(assets/fonts/Afacad-VariableFont_wght.ttf);
}

:root {
    --color-bg: #DAB1AE;
}

#root {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-bg);
    font-family: "Afacad", sans-serif;
    /* border: 1px solid black; */
}